@model List<ProductVM>

@if (Model.Count() != 0)
{
	@foreach (var product in Model)
	{
		<div class="col-lg-6 col-md-12 col-sm-12">
			<div class="product" data-id="@product.Id">
				@if (User.Identity.IsAuthenticated)
				{
					<div class="product-icons">
						@*<i class="fa-regular fa-heart"></i>*@
						<i class="fa-solid fa-heart"></i>
						<i class="fa-solid fa-cart-shopping cart-add"></i>
					</div>
				}
				<div class="product-image">
					<a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">
						<img src="~/assets/img/product/@product.Image" alt="">
					</a>
				</div>
				<div class="product-content">
					<h6>@product.Name</h6>
					<h6>$@product.Price</h6>
					<a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">VIEW MORE</a>
				</div>
			</div>
		</div>

	}

}
else
{
	<div class="alert alert-danger mt-5" role="alert">
		Product not found!
	</div>
}
