
@{
    ViewData["Title"] = "ExistEmail";
}

<main>
    <section id="subscribe" style="margin: 4rem 0 7rem;">
        <div class="container">
            <div class="alert alert-danger" role="alert" style="font-size:20px!important">
                This email already exists our subscribe list!
            </div>
        </div>
    </section>
</main>

