@model FooterVM
<footer>
	<div class="container">
		<div class="footer-top">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="left">
						<p>
							Sign up for our newsletter to receive special offers, news and great sales notifications.
						</p>
						<form asp-controller="Subscribe" asp-action="CreateSubscribe" method="post">
							<div class="email-subs">
								<input asp-for="@Model.Subscribe.Email" required placeholder="Email address">
								<span class="text-danger" asp-validation-for="@Model.Subscribe.Email"></span>

								<button type="submit">Subscribe</button>
								
							</div>
						</form>

					</div>
				</div>

				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="right">
						<div class="row">
							<div class="information-footer col-lg-4">
								<h6>PAGES</h6>
								<a asp-controller="Home" asp-action="Index">HOME</a>
								<a asp-controller="Shop" asp-action="Index">SHOP</a>
							</div>
							<div class="account-footer col-lg-4">
								<h6>ABOUT US</h6>
								<a asp-controller="Blog" asp-action="Index">BLOG</a>
								<a asp-controller="About" asp-action="Index">ABOUT</a>
								<a asp-controller="Contact" asp-action="Index">CONTACT</a>

							</div>
							<div class="shop-footer col-lg-4">
								<h6>SOCIALS</h6>
								<a href="https://business.facebook.com/" target="_blank">
									<i class="fa-brands fa-square-facebook"></i> FACEBOOK
								</a>
								<a href="https://www.pinterest.com/themerex0063/" target="_blank">
									<i class="fa-brands fa-square-pinterest"></i> PINTEREST
								</a>
								<a href="https://www.instagram.com/themerex_net/" target="_blank">
									<i class="fa-brands fa-square-instagram"></i> INSTAGRAM
								</a>
								<a href="https://www.youtube.com/channel/UCnFisBimrK2aIE-hnY70kCA" target="_blank">
									<i class="fa-brands fa-square-youtube"></i> YOUTUBE
								</a>
							</div>

						</div>
						
					</div>
					<div class="btn" style="width:100%;text-align:end">
						<button style="border: none;border-radius: 50px;padding: 5px 12px;background-color:white" id="topbtn"><i class="fa-solid fa-arrow-up" style="color: #af7f66;"></i></button>
					</div>
				</div>
				
			</div>

		</div>

		<hr>
		<div class="col-12 footer-down">
			<h6>Reprizo © 2024, Powered by Ismayil Afandizada</h6>
		</div>


	</div>
</footer>
