@model ForgotPasswordVM
@{
	ViewData["Title"] = "ForgotPassword";
}


@section css{
	<link rel="stylesheet" href="~/assets/css/forgotpassword.css">
}


<main>
	<!-- Banners -->

	<section id="banner">
		<div class="banner-all" style="background-image: url(/assets/img/settings/@ViewBag.ForgotBanner);">
			<h1>Forgot Password</h1>
		</div>
	</section>

	<!-- forgot password -->
	<section id="forgotpassword">

		<section id="forgot-password-form">
			<div class="container">
				<div class="login">
					<h2>Forgot Password</h2>
				</div>
				<form method="post" asp-controller="Account" asp-action="ForgotPassword">
					<div class="email-label">
						<label for="">Email *</label>
					</div>
					<div class="email-input">
						<input type="email" asp-for="Email">
					</div>
					<span asp-validation-for="Email" action="text-danger"></span>
					 

					<div class="send-button">
						<button type="submit">Send</button>
					</div>
				</form>
			</div>
		</section>
	</section>
</main>

@section script{
	<partial name="_ValidationScriptsPartial" />
    }

