@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

@section css{
	<link rel="stylesheet" href="~/assets/css/forgotpassword.css">
}

<main>
	<!-- Banners -->

	

	<!-- forgot password -->
	<section id="forgotpassword">

		<section id="forgot-password-form">
			<div class="container">
				<div class="login">
					<h2>Reset Password</h2>
					<div class="text-danger mb-2" asp-validation-summary="All"></div>
				</div>
				<form method="post" asp-controller="Account" asp-action="ResetPassword">
					<div class="email-label">
						<label for="">Password *</label>
					</div>
					<div class="email-input">
						<input  asp-for="Password">
					</div>
					<span asp-validation-for="Password" action="text-danger"></span>


					<div class="email-label">
						<label for=""> Confrim Password *</label>
					</div>
					<div class="email-input">
						<input  asp-for="ConfirmPassword">
					</div>
					<span asp-validation-for="ConfirmPassword" action="text-danger"></span>


					<input type="hidden" asp-for="Token" value="@Model.Token" />
					<input type="hidden" asp-for="UserId" value="@Model.UserId" />

					<div class="send-button">
						<button type="submit">Send</button>
					</div>
				</form>
			</div>
		</section>
	</section>
</main>

@section script{
	<partial name="_ValidationScriptsPartial" />
    }

